In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_boston

In [2]:
boston=load_boston()
df=pd.DataFrame(boston.data,columns=boston.feature_names)

In [6]:
df.columns.get_level_values(0)

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT'],
      dtype='object')

In [16]:
df.groupby(['ZN','B'])#.get_group(0)
#.index.get_level_values(1)

In [18]:
df.groupby('ZN').get_group(0)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3.0,222.0,18.7,394.12,5.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [21]:
df.groupby(['ZN','B']).get_group((0.0,0.32))

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
450,6.71772,0.0,18.1,0.0,0.713,6.749,92.6,2.3236,24.0,666.0,20.2,0.32,17.44

In [22]:
df.groupby('ZN').mean()

,CRIM,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
ZN,,,,,,,,,,,,
0.0,4.868486,13.542231,0.075269,0.591306,6.147922,77.716667,2.954139,11.376344,449.182796,19.057796,344.705484,14.447366
12.5,0.137185,7.330000,0.000000,0.489500,5.945100,65.600000,6.170350,4.700000,321.200000,16.310000,393.577000,15.802000
17.5,0.019510,1.380000,0.000000,0.416100,7.104000,59.500000,9.222900,3.000000,216.000000,18.600000,393.240000,8.050000
18.0,0.006320,2.310000,0.000000,0.538000,6.575000,65.200000,4.090000,1.000000,296.000000,15.300000,396.900000,4.980000
20.0,0.419070,4.560000,0.142857,0.557695,7.160190,67.461905,3.141910,4.523810,245.095238,14.695238,389.604762,7.691429
21.0,0.058877,5.640000,0.000000,0.439000,6.146750,37.800000,6.814700,4.000000,243.000000,16.800000,395.832500,9.147500
22.0,0.209447,5.860000,0.000000,0.431000,6.482400,36.450000,8.028060,7.000000,330.000000,19.100000,385.273000,8.291000
25.0,0.097338,5.022000,0.000000,0.442200,6.281200,53.000000,6.559990,6.400000,282.800000,19.420000,393.332000,8.664000
28.0,0.037907,15.040000,0.000000,0.464000,6.300667,53.266667,3.648933,4.000000,270.000000,18.200000,396.080000,8.320000
30.0,0.104140,4.930000,0.000000,0.428000,6.471667,40.133333,6.520500,6.000000,300.000000,16.600000,382.753333,8.986667
33.0,0.058572,2.180000,0.000000,0.472000,7.030250,60.350000,3.418475,7.000000,222.000000,18.400000,395.210000,7.465000
34.0,0.076010,6.090000,0.000000,0.433000,6.689000,25.500000,5.491700,7.000000,329.000000,16.100000,389.930000,7.676667
35.0,0.032633,4.546667,0.000000,0.439267,6.326000,33.666667,6.773100,1.000000,297.333333,16.433333,383.670000,8.583333
40.0,0.069903,4.935714,0.428571,0.441857,6.802286,37.614286,5.674200,3.142857,277.142857,18.200000,394.307143,5.111429
45.0,0.089112,3.440000,0.000000,0.437000,6.898500,31.283333,5.393567,5.000000,398.000000,15.200000,388.581667,4.881667
52.5,0.042527,5.320000,0.000000,0.405000,6.363000,33.266667,7.317200,6.000000,293.000000,16.600000,388.506667,8.083333
55.0,0.022293,3.270000,0.000000,0.452333,6.674333,38.800000,6.501600,3.666667,346.666667,16.833333,393.196667,6.673333
60.0,0.047050,2.310000,0.000000,0.406000,6.466750,20.775000,8.464950,2.500000,338.000000,16.950000,383.295000,5.672500
70.0,0.054813,2.240000,0.000000,0.400000,6.752333,25.833333,7.827800,5.000000,358.000000,14.800000,376.893333,5.260000
75.0,0.024940,3.300000,0.000000,0.422000,6.502333,28.400000,6.040633,3.000000,324.333333,19.233333,396.050000,7.033333
80.0,0.042390,2.765333,0.000000,0.406200,6.580467,28.173333,7.546247,3.000000,298.000000,16.933333,386.772667,6.476000
82.5,0.028110,2.030000,0.000000,0.415000,6.886000,27.050000,6.270000,2.000000,348.000000,14.700000,394.575000,5.270000
85.0,0.019625,2.445000,0.000000,0.419500,6.449500,31.700000,8.861450,3.000000,332.000000,17.600000,394.665000,6.065000
90.0,0.013930,2.234000,0.200000,0.401600,7.288400,27.560000,8.070300,3.000000,228.000000,15.940000,391.394000,4.686000
95.0,0.026118,2.075000,0.000000,0.409550,7.499250,23.575000,6.385700,3.500000,313.000000,15.850000,391.132500,3.925000
100.0,0.014320,1.320000,0.000000,0.411000,6.816000,40.500000,8.324800,5.000000,256.000000,15.100000,392.900000,3.950000