In [1]:
import numpy as np
import pandas as pd

In [2]:
labelled_df=pd.DataFrame([[1,2],[3,4]],index=['r1','r2'],columns=['c1','c2'])
labelled_df.head()

    c1  c2
r1   1   2
r2   3   4

In [3]:
labelled_series=pd.Series([1,2,3],index=['c3','c4','c5'],name='r99')
print("Visualize it as a row with columns and name as the row label")
labelled_series.head()

Visualize it as a row with columns and name as the row label

c3    1
c4    2
c5    3
Name: r99, dtype: int64

In [4]:
print("Append series => add rows => columns from both included")
labelled_df.append(labelled_series).head()

Append series => add rows => columns from both included

      c1   c2   c3   c4   c5
r1   1.0  2.0  NaN  NaN  NaN
r2   3.0  4.0  NaN  NaN  NaN
r99  NaN  NaN  1.0  2.0  3.0

In [5]:
print("Append series => ignore_index => reset row labels to default")
labelled_df.append(labelled_series,ignore_index=True).head()

Append series => ignore_index => reset row labels to default

    c1   c2   c3   c4   c5
0  1.0  2.0  NaN  NaN  NaN
1  3.0  4.0  NaN  NaN  NaN
2  NaN  NaN  1.0  2.0  3.0

In [6]:
same_column_series= pd.Series([5,6],index=['c1','c2'],name ='r100')
print("Append Series => add rows => both have same columns")
labelled_df.append(same_column_series).head()

Append Series => add rows => both have same columns

      c1  c2
r1     1   2
r2     3   4
r100   5   6

* MERGE

In [7]:
labelled_df2=pd.DataFrame([[1,20],[3,40]],index=['r1','r2'],columns=['c1','c10'])
print("Merge => Equivalent to SQL => add more info to existing/df1 rows with column info from df2")
print("Merge => columns from both df")
print("c1 and c1 matched in both DF rows" )
print("INNER join rows from first DF retained")
pd.merge(labelled_df,labelled_df2).head()

Merge => Equivalent to SQL => add more info to existing/df1 rows with column info from df2
Merge => columns from both df
c1 and c1 matched in both DF rows
INNER join rows from first DF retained

   c1  c2  c10
0   1   2   20
1   3   4   40

* CONCAT - APPEND rows or APPEND to ROWS

In [8]:
print("Concat => axis-0 is like appending rows ")
print("Concat => columns from both df")
print("row labels may be repeated")
pd.concat([labelled_df,labelled_df])

Concat => axis-0 is like appending rows
Concat => columns from both df
row labels may be repeated

    c1  c2
r1   1   2
r2   3   4
r1   1   2
r2   3   4

In [9]:
print("Concat => axis-1 is like appending TO rows ")
print("Concat => columns from both df")
print("column labels may be repeated")
print("Append to rows - row labels are matched")
pd.concat([labelled_df,labelled_df],axis=1)

Concat => axis-1 is like appending TO rows
Concat => columns from both df
column labels may be repeated
Append to rows - row labels are matched

    c1  c2  c1  c2
r1   1   2   1   2
r2   3   4   3   4

In [10]:
labelled_df3= pd.DataFrame([[1,2],[3,4]],index=['r3','r4'],columns=['c1','c2'])
print("Concat => axis-1 is like appending TO rows ")
print("Concat => columns from both df")
print("column labels may be repeated")
print("Append to rows - row labels dint match here")
pd.concat([labelled_df,labelled_df3],axis=1)

Concat => axis-1 is like appending TO rows
Concat => columns from both df
column labels may be repeated
Append to rows - row labels dint match here

     c1   c2   c1   c2
r1  1.0  2.0  NaN  NaN
r2  3.0  4.0  NaN  NaN
r3  NaN  NaN  1.0  2.0
r4  NaN  NaN  3.0  4.0

* JOIN equivalent to concatenate(axis=1) columns need to be renamed

In [11]:
print("join same df")
print("Rows from first DF only retained")
labelled_df4=labelled_df.append(pd.Series([5,6],index=['c1','c2'],name='r111'))
print(labelled_df4)
labelled_df.join(labelled_df4,lsuffix='_left',rsuffix='_right')

join same df
Rows from first DF only retained
      c1  c2
r1     1   2
r2     3   4
r111   5   6

    c1_left  c2_left  c1_right  c2_right
r1        1        2         1         2
r2        3        4         3         4